/*=====================================================
Colors Variable Css
====================================================*/
/*=====================================================
Common Css
====================================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 10000px;
  overflow-x: hidden;
}

/*=====================================================
Font Css
====================================================*/
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #242f51;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #242f51;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #242f51;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #616368;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #242f51;
  text-decoration: none;
}

a:hover {
  color: #242f51;
  text-decoration: none;
}

/*=====================================================
buttons Css
====================================================*/
nav .button-primary {
  background-color: #2500f9;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 10px 10px;
}

nav .button-primary:hover {
  background-color: black;
}

nav .button-primary:hover a {
  color: white;
}

nav .button-primary a {
  color: white;
}

.hero .content .cta .button-primary-round, .design-built .button-primary-round, .subs .card .card-body button {
  background-color: #2500f9;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius: 50px;
}

.hero .content .cta .button-primary-round:hover, .design-built .button-primary-round:hover, .subs .card .card-body button:hover {
  background-color: black;
}

.hero .content .cta .button-primary-round:hover a, .design-built .button-primary-round:hover a, .subs .card .card-body button:hover a {
  color: white;
}

.hero .content .cta .button-primary-round a, .design-built .button-primary-round a, .subs .card .card-body button a {
  color: white;
}

.hero .content .cta .button-primary-round, .design-built .button-primary-round, .subs .card .card-body button {
  background-color: #2500f9;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 20px 25px;
  border-radius: 50px;
}

.hero .content .cta .button-primary-round:hover, .design-built .button-primary-round:hover, .subs .card .card-body button:hover {
  background-color: black;
}

.hero .content .cta .button-primary-round:hover a, .design-built .button-primary-round:hover a, .subs .card .card-body button:hover a {
  color: white;
}

.hero .content .cta .button-primary-round a, .design-built .button-primary-round a, .subs .card .card-body button a {
  color: white;
}

/*=====================================================
Nav Css
====================================================*/
/*=====================================================
Header Css
====================================================*/
.hero {
  background: url(../img/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 0;
}

.hero .content {
  height: 80vh;
}

.hero .content .ico {
  background-color: #feaa25;
  padding: 6px;
  border-radius: 50px;
}

.hero .content .award {
  font-family: "Poppins", sans-serif;
  background-color: #dbd8d8;
  padding: 6px 20px 0 20px;
  border-radius: 50px;
}

.hero .content .award h4 {
  font-size: 15px;
}

.hero .content .cta a {
  color: #2500f9;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.hero .content .cta a:hover {
  color: #242f51;
}

.hero .hero-img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*=====================================================
Brands Css
====================================================*/
.brands {
  padding: 100px 0;
}

.brands .logo {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 75px;
}

/*=====================================================
Awsome Apps Features Css
====================================================*/
.app-feature {
  padding: 50px 0;
}

.app-feature .fast-perfomance {
  color: #f55767;
}

.app-feature .prototype {
  color: #2500f9;
}

.app-feature .vector-edit {
  color: #40975f;
}

/*=====================================================
Smart Jackpot Css
====================================================*/
.smart-jackpot {
  padding: 50px 0;
}

/*=====================================================
Badge and services Css
====================================================*/
.b-s {
  padding: 50px 20px;
}

.b-s .payouts {
  color: #f55767;
}

.b-s .network {
  color: #2500f9;
}

.b-s .reward {
  color: #40975f;
}

/*=====================================================
Designed and build Css
====================================================*/
.design-built {
  padding: 70px 10px;
}

/*=====================================================
Why you use our app Css
====================================================*/
.why-use {
  padding: 60px 0;
}

.why-use .image {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.why-use .content {
  margin-top: 70px;
}

/*=====================================================
Ultimate features Css
====================================================*/
.ultimate-feature {
  padding: 50px 10px;
}

/*=====================================================
Subs  Css
====================================================*/
.subs {
  padding: 70px 20px;
}

.subs .badge {
  margin-top: 100px;
}

.subs .card {
  border: none;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subs .card:hover {
  scale: 1.1;
  -webkit-box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.subs .card .head {
  background-color: #f3f3f3;
  padding: 40px 120px 40px 120px;
}

.subs .card .head .head-tag .month {
  margin-top: 35px;
}

.subs .card .card-body button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subs .card .card-body p {
  color: #2500f9;
  font-weight: 600;
}

/*=====================================================
Client Satisfaction Css
====================================================*/
.client-satisfaction {
  padding: 50px 20px;
}

.client-satisfaction .reviews {
  color: #ffcc00;
}

.client-satisfaction .ceo h3 {
  font-size: 20px;
}

.client-satisfaction .ceo h4 {
  font-size: 18px;
}

/*=====================================================
F.A.Q Css
====================================================*/
.faq .question {
  background-color: #f5f7fa;
  padding: 40px;
}
/*# sourceMappingURL=style.css.map */