/*=====================================================
Colors Variable Css
====================================================*/

$primary-color: #2500f9;
$pink-color: #f55767;
$green-color: #40975f;
$paragraph-color: #616368;
$dark-color: #242f51;

/*=====================================================
Common Css
====================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 5000px;
}

/*=====================================================
Font Css
====================================================*/

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: $dark-color;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: $dark-color;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $dark-color;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $paragraph-color;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $dark-color;
  text-decoration: none;

  &:hover {
    color: $dark-color;
    text-decoration: none;
  }
}

/*=====================================================
buttons Css
====================================================*/

%button-primary {
  background-color: $primary-color;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 10px 10px;

  &:hover {
    background-color: black;

    a {
      color: white;
    }
  }

  a {
    color: white;
  }
}

%button-primary-round {
  background-color: $primary-color;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius: 50px;

  &:hover {
    background-color: black;

    a {
      color: white;
    }
  }

  a {
    color: white;
  }
}

%button-primary-round {
  background-color: $primary-color;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  padding: 20px 25px;
  border-radius: 50px;

  &:hover {
    background-color: black;

    a {
      color: white;
    }
  }

  a {
    color: white;
  }
}

/*=====================================================
Nav Css
====================================================*/

nav {
  .button-primary {
    @extend %button-primary;
  }
}

/*=====================================================
Header Css
====================================================*/

.hero {
  background: url(../img/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding: 70px 0;

  .content {
    height: 80vh;
    .ico {
      background-color: #feaa25;
      padding: 6px;
      border-radius: 50px;
    }

    .award {
      font-family: "Poppins", sans-serif;
      background-color: rgb(219, 216, 216);
      padding: 6px 20px 0 20px;
      border-radius: 50px;

      h4 {
        font-size: 15px;
      }
    }

    .cta {
      .button-primary-round {
        @extend %button-primary-round;
      }

      a {
        color: $primary-color;
        transition: 0.2s ease all;

        &:hover {
          color: $dark-color;
        }
      }
    }
  }

  .hero-img {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

/*=====================================================
Brands Css
====================================================*/

.brands {
  padding: 100px 0;
  .logo {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 75px;
  }
}

/*=====================================================
Awsome Apps Features Css
====================================================*/

.app-feature {
  padding: 50px 0;
  .fast-perfomance {
    color: $pink-color;
  }

  .prototype {
    color: $primary-color;
  }

  .vector-edit {
    color: $green-color;
  }
}
